<a href="https://colab.research.google.com/github/robertbarac/Web_Scraping_Brazil_2014/blob/main/web_scrapping_con_pandas_Brasil2014.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
url = 'https://en.wikipedia.org/wiki/2014_FIFA_World_Cup'

In [ ]:
df = pd.read_html(url)

In [ ]:
tablas_fase_de_grupos = [df[i] for i in range(10, 60, 7)]

In [ ]:
for tabla in range(len(tablas_fase_de_grupos)):
  tablas_fase_de_grupos[tabla].rename(columns = {tablas_fase_de_grupos[tabla].columns[1]: 'Team'}, inplace=True)

In [ ]:
for tabla in range(len(tablas_fase_de_grupos)):
  print(tablas_fase_de_grupos[tabla])

   Pos        Team  Pld  W  D  L  GF  GA  GD  Pts              Qualification
0    1  Brazil (H)    3  2  1  0   7   2  +5    7  Advance to knockout stage
1    2      Mexico    3  2  1  0   4   1  +3    7  Advance to knockout stage
2    3     Croatia    3  1  0  2   6   6   0    3                        NaN
3    4    Cameroon    3  0  0  3   1   9  −8    0                        NaN
   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts              Qualification
0    1  Netherlands    3  3  0  0  10   3  +7    9  Advance to knockout stage
1    2        Chile    3  2  0  1   5   3  +2    6  Advance to knockout stage
2    3        Spain    3  1  0  2   4   7  −3    3                        NaN
3    4    Australia    3  0  0  3   3   9  −6    0                        NaN
   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts              Qualification
0    1     Colombia    3  3  0  0   9   2  +7    9  Advance to knockout stage
1    2       Greece    3  1  1  1   2   4  −2    4  Advance to knockout stage
2    3  Ivory Coast    3  1  0  2   4   5  −1    3                        NaN
3    4        Japan    3  0  1  2   2   6  −4    1                        NaN
   Pos        Team  Pld  W  D  L  GF  GA  GD  Pts              Qualification
0    1  Costa Rica    3  2  1  0   4   1  +3    7  Advance to knockout stage
1    2     Uruguay    3  2  0  1   4   4   0    6  Advance to knockout stage
2    3       Italy    3  1  0  2   2   3  −1    3                        NaN
3    4     England    3  0  1  2   2   4  −2    1                        NaN
   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts              Qualification
0    1       France    3  2  1  0   8   2  +6    7  Advance to knockout stage
1    2  Switzerland    3  2  0  1   7   6  +1    6  Advance to knockout stage
2    3      Ecuador    3  1  1  1   3   3   0    4                        NaN
3    4     Honduras    3  0  0  3   1   8  −7    0                        NaN
   Pos                    Team  Pld  W  D  L  GF  GA  GD  Pts  \
0    1               Argentina    3  3  0  0   6   3  +3    9
1    2                 Nigeria    3  1  1  1   3   3   0    4
2    3  Bosnia and Herzegovina    3  1  0  2   4   4   0    3
3    4                    Iran    3  0  1  2   1   4  −3    1

               Qualification
0  Advance to knockout stage
1  Advance to knockout stage
2                        NaN
3                        NaN
   Pos           Team  Pld  W  D  L  GF  GA  GD  Pts  \
0    1        Germany    3  2  1  0   7   2  +5    7
1    2  United States    3  1  1  1   4   4   0    4
2    3       Portugal    3  1  1  1   4   7  −3    4
3    4          Ghana    3  0  1  2   4   6  −2    1

               Qualification
0  Advance to knockout stage
1  Advance to knockout stage
2                        NaN
3                        NaN
   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts              Qualification
0    1      Belgium    3  3  0  0   4   1  +3    9  Advance to knockout stage
1    2      Algeria    3  1  1  1   6   5  +1    4  Advance to knockout stage
2    3       Russia    3  0  2  1   2   3  −1    2                        NaN
3    4  South Korea    3  0  1  2   3   6  −3    1                        NaN

In [ ]:
indices_partidos_fase_de_grupos = []
for i in range(10, 83):
  if i not in [10, 17, 24, 31, 38, 45, 52, 59, 66]:
    indices_partidos_fase_de_grupos.append(i)

In [ ]:
pd.DataFrame(df[11]).columns[0]

'Brazil'

In [ ]:
todos_los_partidos = {}
home = [pd.DataFrame(df[indice]).columns[0] for indice in indices_partidos_fase_de_grupos]
score = [pd.DataFrame(df[indice]).columns[1] for indice in indices_partidos_fase_de_grupos]
away = [pd.DataFrame(df[indice]).columns[2] for indice in indices_partidos_fase_de_grupos]

todos_los_partidos['Home'] = home
todos_los_partidos['Score'] = score
todos_los_partidos['Away'] = away

In [ ]:
todos_los_partidos

{'Home': ['Brazil',
  'Mexico',
  'Brazil',
  'Cameroon',
  'Cameroon',
  'Croatia',
  'Spain',
  'Chile',
  'Australia',
  'Spain',
  'Australia',
  'Netherlands',
  'Colombia',
  'Ivory Coast',
  'Colombia',
  'Japan',
  'Japan',
  'Greece',
  'Uruguay',
  'England',
  'Uruguay',
  'Italy',
  'Italy',
  'Costa Rica',
  'Switzerland',
  'France',
  'Switzerland',
  'Honduras',
  'Honduras',
  'Ecuador',
  'Argentina',
  'Iran',
  'Argentina',
  'Nigeria',
  'Nigeria',
  'Bosnia and Herzegovina',
  'Germany',
  'Ghana',
  'Germany',
  'United States',
  'United States',
  'Portugal',
  'Belgium',
  'Russia',
  'Belgium',
  'South Korea',
  'South Korea',
  'Algeria',
  'Brazil',
  'Colombia',
  'Netherlands',
  'Costa Rica',
  'France',
  'Germany',
  'Argentina',
  'Belgium',
  'France',
  'Brazil',
  'Argentina',
  'Netherlands',
  'Brazil',
  'Netherlands',
  'Brazil',
  'Germany'],
 'Score': ['3–1',
  '1–0',
  '0–0',
  '0–4',
  '1–4',
  '1–3',
  '1–5',
  '3–1',
  '2–3',
  '0–2',
  '0–3',
  '2–0',
  '3–0',
  '2–1',
  '2–1',
  '0–0',
  '1–4',
  '2–1',
  '1–3',
  '1–2',
  '2–1',
  '0–1',
  '0–1',
  '0–0',
  '2–1',
  '3–0',
  '2–5',
  '1–2',
  '0–3',
  '0–0',
  '2–1',
  '0–0',
  '1–0',
  '1–0',
  '2–3',
  '3–1',
  '4–0',
  '1–2',
  '2–2',
  '2–2',
  '0–1',
  '2–1',
  '2–1',
  '1–1',
  '1–0',
  '2–4',
  '0–1',
  '1–1',
  '1–1 (a.e.t.)',
  '2–0',
  '2–1',
  '1–1 (a.e.t.)',
  '2–0',
  '2–1 (a.e.t.)',
  '1–0 (a.e.t.)',
  '2–1 (a.e.t.)',
  '0–1',
  '2–1',
  '1–0',
  '0–0 (a.e.t.)',
  '1–7',
  '0–0 (a.e.t.)',
  '0–3',
  '1–0 (a.e.t.)'],
 'Away': ['Croatia',
  'Cameroon',
  'Mexico',
  'Croatia',
  'Brazil',
  'Mexico',
  'Netherlands',
  'Australia',
  'Netherlands',
  'Chile',
  'Spain',
  'Chile',
  'Greece',
  'Japan',
  'Ivory Coast',
  'Greece',
  'Colombia',
  'Ivory Coast',
  'Costa Rica',
  'Italy',
  'England',
  'Costa Rica',
  'Uruguay',
  'England',
  'Ecuador',
  'Honduras',
  'France',
  'Ecuador',
  'Switzerland',
  'France',
  'Bosnia and Herzegovina',
  'Nigeria',
  'Iran',
  'Bosnia and Herzegovina',
  'Argentina',
  'Iran',
  'Portugal',
  'United States',
  'Ghana',
  'Portugal',
  'Germany',
  'Ghana',
  'Algeria',
  'South Korea',
  'Russia',
  'Algeria',
  'Belgium',
  'Russia',
  'Chile',
  'Uruguay',
  'Mexico',
  'Greece',
  'Nigeria',
  'Algeria',
  'Switzerland',
  'United States',
  'Germany',
  'Colombia',
  'Belgium',
  'Costa Rica',
  'Germany',
  'Argentina',
  'Netherlands',
  'Argentina']}

In [ ]:
pd_partidos = pd.DataFrame(todos_los_partidos)

In [ ]:
pd_partidos.shape

(64, 3)

In [ ]:
pd_partidos.sample(5)

        Home Score       Away
31      Iran   0–0    Nigeria
41  Portugal   2–1      Ghana
15     Japan   0–0     Greece
52    France   2–0    Nigeria
34   Nigeria   2–3  Argentina